@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(rgba(29, 30, 35, 0.8), rgba(29, 30, 35, 0.8)),
    url(../imagenes/fondogymblack-Photoroom.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 70vh;
  padding: 80px 0 0 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  padding: 20px;
  color: white;
  display: block;
  font-weight: 600;
  text-decoration: none;
}

.menu .navbar ul li a:hover {
  color: red;
}

.header-content {
  display: flex;

  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  height: 100vh;
  gap: 50px;
}

.about {
  padding: 50px 0;
  background-color: #24272e;
  margin-bottom: 0;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-txt {
  flex-basis: 50%;
}

span {
  font-size: 14px;
  text-transform: uppercase;
  color: red;
}

h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.2;
}

h2 {
  font-size: 35px;
  color: white;
  margin: 15px 0;
}

hr {
  border: 1px solid rgb(248, 0, 0);
  width: 10%;
  margin-bottom: 20px;
  opacity: 1;
}

.about-img {
  flex-basis: 50%;
}

.about-img img {
  border-radius: 15px;
}

.texto {
  max-width: 70%;
  margin: 20px auto;
}

.contact {
  height: 500px;
  background: linear-gradient(rgba(35, 34, 34, 0.7), rgba(34, 33, 33, 0.7)),
    url(../imagenes/b3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mockup-img {
  max-width: 130%;
  transform: scale(1.1);
  z-index: 10;
  position: relative;
  transition: transform 0.3s ease-in-out;
  margin-top: -10%;
}

.footer {
  background-color: #1e1e1e;
  color: #d1d1d1;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-family: Arial, sans-serif;
}

.footer-line {
  border: none;
  height: 2px;
  background-color: rgb(97, 95, 95);
  width: 70%;
  margin: 40px auto;
}

p {
  font-size: 17px;
  color: white;
  margin-bottom: 35px;
}

.footer h5 {
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li a {
  color: #d1d1d1;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: #ff4f4f;
}

.social-icons a {
  color: #d1d1d1;
  font-size: 1.5rem;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff4f4f;
}

.footer p {
  margin-bottom: 0.5rem;
}

.whatsapp-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.whatsapp-button img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsapp-button img:hover {
  transform: scale(1.1);
}

#menu {
  display: none;
}

.menu-icono {
  width: 30px;
  cursor: pointer;
}

.navbar ul {
  display: flex;
}

#menu:checked ~ .navbar ul {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 70px;
  right: 20px;
  width: 200px;
  border-radius: 8px;
  padding: 10px;
}

.info {
  padding: 50px 0;
  padding-top: 5px;
  background-color: #24272e;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info img {
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .header {
    position: relative;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .icono-menu {
    width: 40px;
    cursor: pointer;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    text-align: right;
    z-index: 1000;
  }

  .menu label {
    display: block;
  }

  #menu:checked ~ .navbar ul {
    display: flex;
  }

  .menu label {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
  }
}
